---
layout: default
title: Home
---

<h1>Latest Writings</h1>

{% for post in paginator.posts %}

<article class="card-group">
  <div class="card">
    <div class="card-header" style="background: url(/images/cover/{{ post.cover }}.jpg) 50% 50% / cover rgba(255, 255, 255, 0);"></div>
    <div class="card-body"><a href="{{ post.url }}" rel="bookmark" title="Permanent Link to {{ post.title }}">{{post.title}}</a><br><time datetime="{{ post.date | date: "%Y-%m-%d" }}">→ {{ post.date | date: "%b %d, %Y" }}</time></div>  
    </div>
</article>

{% endfor %}

  <h1>Latest Book Reviews</h1>

{% for post in paginator.posts %}

<article class="card-group">
  <div class="card">
    <div class="card-header" style="background: url(/images/cover/{{ post.cover }}.jpg) 50% 50% / cover rgba(255, 255, 255, 0);"></div>
    <div class="card-body"><a href="{{ post.url }}" rel="bookmark" title="Permanent Link to {{ post.title }}">{{post.title}}</a><br><time datetime="{{ post.date | date: "%Y-%m-%d" }}">→ {{ post.date | date: "%b %d, %Y" }}</time></div>  
    </div>
</article>

{% endfor %}
