body {
	font-family: -apple-system, Avenir, Helvetica, Arial, sans-serif;
	font-size: 1em;
	line-height: 1.7em;
	color: #333;
	text-rendering: optimizeLegibility;
	margin: 0px;
}

a, a:visited {
	color:#e76f51;
	text-decoration:none;
}

a:hover {
	transition:color .25s;
	color:#f4a261;
	text-decoration:none;
}

header {
	margin: 30px 20px 30px 20px;
	text-align: right;
}

header li {
	display: inline;
	list-style-type: none;
	padding-left: 10px;
}

header li.sitename {
	float:left;
	font-weight: 600;
}

.cover {
	height:300px;
}

article {
	max-width: 900px;
	padding: 30px 25px 30px 25px;
	margin:auto;
	border-bottom: 1px solid #eee;
}

article p {

}

time {
	font-size: .8em;
	color: #666;
}

blockquote {
	border-left: 1px solid #eee;
	padding-left: 10px;
}


footer {
	margin: 50px 0px 0px 0px;
	font-size: .8em;
}

footer li {
	display: inline;
	list-style-type: none;
	padding-right: 10px;
}
