<!DOCTYPE html>
<html lang="en-gb">
<head>
<meta charset="utf-8">
<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ site.baseurl }}/style.css">
</head>

<body>

  <header>
    <ul>
      <li><strong><a href="https://abookishsprite.wordpress.com/">Home</a></strong></li>
      <li><a href="https://abookishsprite.wordpress.com/archive">Archive</a></li>
      <li><a href="https://abookishsprite.wordpress.com/about">About</a></li>
    </ul>
  </header>
  
  {% if page.cover %}
  <img src="/images/cover/{{ page.cover }}.jpg" class="cover" alt="{{ page.title }}" />
  {% else %}
  <img src="/images/cover/books.jpg" class="cover" alt="{{ site.description }}" />
  {% endif %}
