<!DOCTYPE html>
<html lang="en-gb">
<head>
<meta charset="utf-8">
<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ site.baseurl }}/style.css">
</head>

<body>

  <header>
    <ul>
      <li class="sitename"><a href="{{ site.baseurl }}/">Abby Jones Writing</a></li>
      <li><a href="{{ site.baseurl }}/">Home</a></li>
      <li><a href="{{ site.baseurl }}/writing">Writing</a></li>
      <li><a href="{{ site.baseurl }}/reviews">Reviews</a></li>
      <li><a href="{{ site.baseurl }}/about">About</a></li>
    </ul>
  </header>

  {% if page.cover %}
    <div class="cover" style="background: url(/images/cover/{{ page.cover }}.jpg) 50% 50% / cover rgba(255, 255, 255, 0);"></div>
  {% else %}
    <div class="cover" style="background: url(/images/cover/bookshop.jpg) 50% 50% / cover rgba(255, 255, 255, 0);"></div>
  {% endif %}
