<!DOCTYPE html>
<html lang="en-gb">
<head>
<meta charset="utf-8">
<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ site.baseurl }}/style.css">
</head>

<body>

  <header>
    <ul>
      <li><strong><a href="{{ site.baseurl }}/">Home</a></strong></li>
      <li><a href="{{ site.baseurl }}/writing">Writing</a></li>
      <li><a href="{{ site.baseurl }}/reviews">Reviews</a></li>
      <li><a href="{{ site.baseurl }}/about">About</a></li>
    </ul>
  
  {% if page.cover %}
    <div style="background: url(/images/cover/{{ page.cover }}.jpg}.jpg) 50% 50% / cover #0d0501;"></div>
      {% else %}
      <div style="background: url(/images/cover/books.jpg) 50% 50% / cover #0d0501;"></div>
        {% endif %}

     </header>
